@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('tldraw/tldraw.css');

body {
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
}

/* RtkParticipantTile styling */
rtk-participant-tile {
	display: block;
	width: 100% !important;
	height: 100% !important;
	min-height: 100px;
}

rtk-participant-tile video {
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
}
